<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Alien</title>
</head>
<body>
<h1>Add New Alien</h1>
<form action="/alien" method="POST">
    <label>Name: <input type="text" name="name"></label><br>
    <label>Race: <input type="text" name="race"></label><br>
    <label>Planet: <input type="text" name="planet"></label><br>
    <label>Abilities: <input type="text" name="abilities"></label><br>
    <button type="submit">Add Alien</button>
</form>
<a href="/">Back to list</a>
</body>
</html>
